body{
    background-image: url(Imagens/bgpreto.jpg);
}
#chef {
    text-align: center;
}
#tudo{
    display: flex;
    padding-left: 300px;
}
#trad{
    color: yellow;
}
.sabores{
    display: block;
    color: whitesmoke;
    font-size: 35px;
    text-decoration: none;
}
.dinheiro{
    display: block;
    color: green;
    font-size: 35px;
    text-decoration: none;
    padding-left: 35px;
}
#preco{
    padding-left: 10px;
    color: yellow;
}
#quantidade{
    color:yellow;
    padding-left: 250px;
    
}
#comprar {
    height: 25px;
    width: 180px;
    position: relative;
    top: 18px;
    right: 25px;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
}

#quant{
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
}
#plus{
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
}
#minus{
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;

}
.separar{
    padding: 10px;
}
#titu{
    color: yellow
}